@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@font-face {
  font-family: "Mantou";
  src: url("../fonts/MantouSans-Regular.ttf") format("truetype");
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  background: #FDFCFB;
  color: #334155;
}
body.isLoading {
  overflow: hidden;
}

.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4rem;
  line-height: 1.437;
  letter-spacing: 2px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 3.25rem;
    line-height: 1.46;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}
@media (max-width: 992px) {
  h3 {
    font-size: 1.5rem;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  text-transform: unset;
}

.d-mobile-block {
  display: none;
}
@media (max-width: 992px) {
  .d-mobile-block {
    display: block;
  }
}

.font-mantou {
  font-family: "Mantou";
  font-weight: 400;
}

.text-primary {
  color: #DA7D4A;
}

.text-center {
  text-align: center;
}

.bg-2 {
  background-color: #F7ECE1;
}

.container {
  margin: 0 auto;
  padding: 0 0.75rem;
  width: min(100%, 1320px);
}
@media (max-width: 992px) {
  .container {
    width: min(100%, 720px);
  }
}
@media (max-width: 768px) {
  .container {
    width: min(100%, 540px);
  }
}

.ball {
  background: linear-gradient(to right, #E5793B, #FF4185);
  display: inline-block;
  border-radius: 50%;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.labelBox {
  display: inline-block;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  background: #334155;
  color: #ffffff;
  border-radius: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 500px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  padding: 1rem 1.5rem;
  color: #334155;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease 0s;
}
.btn .arrow {
  color: #334155;
  margin-left: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s ease 0s;
}
.btn.btn-primary {
  background-color: #DA7D4A;
  color: #ffffff;
}
.btn.btn-primary .arrow {
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #ffffff;
  color: #DA7D4A;
  border: 1px solid #da7d4a;
}
.btn.btn-primary:hover .arrow {
  color: #DA7D4A;
}
.btn.btn-secondary {
  background-color: #f1f5f9;
}
.btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #DA7D4A;
}
.btn:hover .arrow {
  color: #ffffff;
}

.text-gradient-x {
  background: linear-gradient(to right, #E5793B, #FF4185);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small {
  font-size: 0.875rem;
}

.header {
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 768px) {
  .header {
    position: relative;
    top: inherit;
    left: inherit;
    padding: 0;
    margin-bottom: 1rem;
  }
}
.header .headerNav {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 1rem;
}
.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #DA7D4A;
}
@media (max-width: 768px) {
  .header .logo {
    font-size: 1.25rem;
  }
}
.header .logo .logoImg {
  width: 53px;
  margin-right: 0.5rem;
  line-height: 0;
}
@media (max-width: 768px) {
  .header .logo .logoImg {
    width: 34px;
  }
}

@media (max-width: 1280px) {
  .mainNav {
    display: none;
  }
}
.mainNav .nav {
  display: flex;
}
.mainNav .nav .nav-item {
  margin: 0 0.5rem;
}
.mainNav .nav .nav-link {
  display: block;
  font-size: 1.125rem;
  padding: 0.5rem;
  color: #334155;
  transition: all 0.3s ease 0s;
}

@media (max-width: 768px) {
  .socailNav {
    display: none;
  }
}
.socailNav .nav {
  display: flex;
  justify-content: center;
}
.socailNav .nav-item {
  margin-right: 1rem;
}
.socailNav .nav-item:last-child {
  margin-right: 0;
}
.socailNav .nav-link {
  font-size: 0;
  position: relative;
  transition: all 0.3s ease 0s;
}

.nameBlock {
  display: inline-flex;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  align-items: center;
  font-size: 2.5rem;
  color: #DA7D4A;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(163, 180, 203, 0.2);
}
@media (max-width: 992px) {
  .nameBlock {
    font-size: 1.5rem;
  }
}
.nameBlock .ball {
  margin-right: 1rem;
  font-size: 2rem;
  width: 50px;
  height: 50px;
}
@media (max-width: 992px) {
  .nameBlock .ball {
    font-size: 25px;
    width: 40px;
    height: 40px;
  }
}

.banner {
  margin: 99px 0 0 0;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .banner {
    margin: 0 0 0 0;
  }
}
.banner .textArea {
  margin: 0 auto 0.5rem;
  text-align: center;
  padding: 6rem 0 1rem;
}
@media (max-width: 992px) {
  .banner .textArea {
    padding-top: 2rem;
  }
}
.banner h1 {
  background: linear-gradient(to right, #E5793B, #FF4185);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  line-height: 1.05;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .banner h1 {
    font-size: 3.25rem;
    margin-bottom: 0.5rem;
  }
}
.banner .bannerText {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .banner .bannerText {
    flex-direction: column;
  }
}
.banner .bannerText .titleBlock {
  padding: 0.75rem 1rem;
  font-size: 1.75rem;
  background-color: #334155;
  color: #ffffff;
  margin-right: 1rem;
  border-radius: 1rem;
}
@media (max-width: 992px) {
  .banner .bannerText .titleBlock {
    font-size: 1.25rem;
    margin-right: 0;
  }
}
.banner .bannerImg {
  position: relative;
  text-align: center;
  margin-top: 130px;
}
.banner .bannerImg .bannerBg {
  max-height: 400px;
}
.banner .bannerImg .bannerPerson {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.banner .bannerImg .bannerPerson-img {
  line-height: 0;
  transition: all 0.3s ease 0s;
}

.solgan {
  padding: 10px;
  background-color: #DA7D4A;
  overflow: hidden;
}
.solgan p {
  font-size: 4rem;
  line-height: 1.04;
  letter-spacing: 2px;
  color: #ffffff;
  white-space: nowrap;
}
.solgan p.play {
  animation: wordScrollX 30s linear infinite;
  animation-play-state: running;
}
@media (max-width: 768px) {
  .solgan p {
    font-size: 2.5rem;
  }
}

@keyframes wordScrollX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sectionBlk {
  padding: 6.5rem 0;
}
@media (max-width: 992px) {
  .sectionBlk {
    padding: 4rem 0;
  }
}

.advocate .content {
  display: flex;
  border-radius: 1.5rem;
  overflow: hidden;
}
@media (max-width: 992px) {
  .advocate .content {
    flex-direction: column;
  }
}
.advocate .content-text {
  flex: 1;
  background-color: #ffffff;
  padding: 4rem 2.5rem;
}
@media (max-width: 992px) {
  .advocate .content-text {
    padding: 2.5rem 1.5rem;
  }
}
.advocate .content-text h3 {
  margin-bottom: 2rem;
}
.advocate .text-center {
  margin-bottom: 2rem;
}
.advocate .advocateImg {
  flex: 1;
  width: calc(49.5% - 24px);
}
.advocate .advocateImg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .advocate .advocateImg {
    width: 100%;
  }
}

.events .container {
  padding: 0;
}
@media (max-width: 992px) {
  .events .container {
    padding: 0 0.75rem;
  }
}
.events .text-center {
  margin-bottom: 4rem;
}
@media (max-width: 992px) {
  .events .text-center {
    margin-bottom: 2.5rem;
  }
}
.events .content {
  display: flex;
}
@media (max-width: 992px) {
  .events .content {
    flex-wrap: wrap;
  }
}
.events .content .mainNews {
  display: block;
  flex: 0 1 calc(50% - 12px);
  margin-right: 24px;
}
@media (max-width: 992px) {
  .events .content .mainNews {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
.events .content .mainNews .mainNewsImg {
  background-color: #E2E8F0;
  border-radius: 1rem;
  overflow: hidden;
}
.events .content .mainNews .mainNewsImg img {
  transition: all 0.3s ease 0s;
}
.events .content .mainNews .mainNewsBody {
  padding-top: 1rem;
}
.events .content .mainNews .mainNewsBody .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.events .content .mainNews:hover img {
  transform: scale(1.15);
}
.events .content .listNews {
  flex: 1;
}
.events .content .listNews .list {
  margin-bottom: 1.5rem;
}
.events .content .listNews .list-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.events .content .listNews .card {
  display: flex;
}
.events .content .listNews .card .card-img {
  flex: 0 1 calc(33.33% - 1rem);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 1rem;
}
.events .content .listNews .card .card-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .events .content .listNews .card .card-img {
    flex: 0 1 109px;
  }
}
.events .content .listNews .card .card-body {
  flex: 1;
}
.events .content .listNews .card .card-body .card-title {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .events .content .listNews .card .card-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.events .content .listNews .card:hover img, .events .content .listNews .card:focus img {
  transform: scale(1.1);
}
.events .content .date {
  display: block;
  font-size: 0.875rem;
  color: #64748B;
  margin-bottom: 0.5rem;
}
.events .content .card-title {
  font-weight: 700;
  color: #334155;
  margin-bottom: 0.5rem;
}
.events .content .card-text {
  color: #334155;
}

.policy {
  background: #F7ECE1;
}
.policy .cardWrap {
  margin-top: 4rem;
  overflow: hidden;
}
.policy .swiper {
  position: relative;
  width: 100%;
  height: 16.665%;
  overflow: hidden;
}
.policy .swiper-slide {
  position: relative;
  width: 50%;
  opacity: 0.5;
  transform: scale(0.74);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
@media (max-width: 992px) {
  .policy .swiper-slide {
    width: 70%;
  }
}
.policy .swiper-backface-hidden .swiper-slide {
  transform: scale(0.84) translateZ(0);
}
.policy .swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}
.policy .swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}
.policy .swiper-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem 0;
}
.policy .card {
  display: flex;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1.5rem;
}
@media (max-width: 992px) {
  .policy .card {
    flex-wrap: wrap;
    padding: 1rem;
  }
}
.policy .card .card-image {
  flex: 0 1 58.79%;
  overflow: hidden;
  border-radius: 1.5rem;
}
@media (max-width: 992px) {
  .policy .card .card-image {
    flex: 0 1 100%;
    margin-bottom: 1.5rem;
  }
}
.policy .card .card-body {
  flex: 1;
  margin-left: 2rem;
}
@media (max-width: 992px) {
  .policy .card .card-body {
    margin-left: 0;
  }
}
.policy .card .card-chip {
  display: inline-block;
  border-radius: 500px;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  color: rgba(52, 63, 80, 0.8);
  background-color: #FFDDDD;
  margin-bottom: 1rem;
}
.policy .card .card-chip.chip-2 {
  background-color: #BEEADB;
}
.policy .card .card-chip.chip-3 {
  background-color: #F7ECE1;
}
.policy .card .card-title {
  font-size: 1.5rem;
  color: #334155;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.fundraising {
  background-color: #F7ECE1;
}
.fundraising .container {
  padding: 0;
}
@media (max-width: 992px) {
  .fundraising .container {
    padding: 0 0.75rem;
  }
}
.fundraising .content {
  display: flex;
}
@media (max-width: 992px) {
  .fundraising .content {
    flex-wrap: wrap;
  }
}
.fundraising .content .col {
  border-radius: 2rem;
  flex: 0 1 50%;
  padding: 6rem;
  overflow: hidden;
}
@media (max-width: 992px) {
  .fundraising .content .col {
    flex: auto;
    padding: 2.5rem 1.5rem;
  }
}
.fundraising .content .col:first-child {
  background-color: #DA7D4A;
}
@media (max-width: 992px) {
  .fundraising .content .col:first-child {
    margin-bottom: 1.5rem;
  }
}
.fundraising .content .col:last-child {
  margin-left: 1.5rem;
  background-color: #334155;
}
@media (max-width: 992px) {
  .fundraising .content .col:last-child {
    margin-left: 0;
  }
}
.fundraising .content .col:last-child .btn:hover, .fundraising .content .col:last-child .btn.focus {
  background-color: #334155;
}
.fundraising h2 {
  font-size: 3.25rem;
  line-height: 1.44;
  color: #ffffff;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .fundraising h2 {
    font-size: 2.5rem;
  }
}
.fundraising h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}
.fundraising .buttonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .fundraising .buttonBox {
    justify-content: center;
  }
}
.fundraising .buttonBox .imageWrap {
  max-width: 224px;
  flex: 1;
  margin-left: 1rem;
}
@media (max-width: 992px) {
  .fundraising .buttonBox .imageWrap {
    max-width: 126px;
  }
}

.footer {
  background: #F7ECE1;
  padding: 4rem 0;
}
.footer .content {
  display: flex;
}
@media (max-width: 992px) {
  .footer .content {
    flex-wrap: wrap;
  }
}
.footer .content .col {
  flex: 0 1 50%;
}
@media (max-width: 992px) {
  .footer .content .col {
    flex: 0 1 100%;
  }
}
@media (max-width: 992px) {
  .footer .content .col:first-child {
    margin-bottom: 1.5rem;
  }
}
.footer h3 {
  display: flex;
  font-size: 1.75rem;
  align-items: center;
  color: #DA7D4A;
}
.footer h4 {
  font-size: 1.5rem;
  color: #334155;
  margin-bottom: 1rem;
  font-weight: 700;
}
.footer .small {
  color: #334155;
}
.footer .ball {
  display: inline-block;
  font-weight: 700;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.footer .footerNav {
  margin: 1rem 0;
}
.footer .footerNav .nav {
  display: flex;
}
.footer .footerNav .nav-item {
  display: inline-block;
}
.footer .footerNav .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.footer .footerNav .nav-link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.footer .footerNav .nav-link img {
  width: 28px;
}
.footer .footerNav .nav-link:hover, .footer .footerNav .nav-link:focus {
  background-color: rgba(253, 252, 251, 0.45);
}

.fixNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E2E8F0;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: display 0.3s ease 0s, opacity 1.5s ease 0s, visibility 1.5s ease 0s;
}
@media (max-width: 1280px) {
  .fixNav {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.fixNav .nav {
  padding: 0 0.75rem;
  display: flex;
  width: 100%;
}
.fixNav .nav-item {
  width: 19.998%;
}
.fixNav .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.fixNav .nav-link {
  display: block;
  text-align: center;
  padding: 0.75rem 0 1rem;
  transition: all 0.3s ease 0s;
}
.fixNav .nav-link:hover {
  background-color: #F7ECE1;
}
@media (max-width: 768px) {
  .fixNav .nav-link {
    padding: 10px 0;
  }
}
.fixNav .nav-link .img {
  display: block;
  margin: 0 auto;
  width: 24px;
  margin-bottom: 0.25rem;
}
@media (max-width: 768px) {
  .fixNav .nav-link .img {
    margin-bottom: 0;
  }
}
.fixNav .nav-link .nav-text {
  display: block;
  color: #334155;
  font-size: 10px;
  line-height: 12px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
  .fixNav .nav-link .nav-text {
    font-size: 0;
    line-height: 0;
  }
}

.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  width: auto !important;
  flex: 0 0 auto !important;
  top: inherit !important;
  left: inherit !important;
  bottom: inherit !important;
}
.swiper-pagination-bullet {
  font-size: 0;
  height: 12px;
  width: 12px;
  background: #DA7D4A;
  margin: 0 8px !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  margin: 0;
  top: inherit;
  left: inherit;
  right: inherit;
  bottom: inherit;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #DA7D4A;
}
.swiper-button-prev:hover span,
.swiper-button-next:hover span {
  color: #ffffff;
}
.swiper-button-prev span,
.swiper-button-next span {
  color: #DA7D4A;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}